.app-footer{
    background-color: #DDDDDD;
    padding: 2vh;
    text-align: center;
}

.linkedin-link{
    text-decoration: none;
}

.contact-name{
    font-family: 'Rubik Wet Paint', cursive;
}

.arrow-up{
    height: 5vh;
    width: 3vw;
    float: right;
}

.copyright{
    text-align: center;
    padding: 1vh;
    font-family: 'Reenie Beanie';
    font-weight: bolder;
    font-size: larger;
}