<div class="nav-bar-main sticky-top" id="">
  <div class="">
    <a class="social-icons" href="https://www.facebook.com/">
      <img src="./assets/Images/social-icons/facebook.png" alt="facebook" class="social-icons">
    </a>
    <a class="social-icons" href="https://www.instagram.com/?hl=en">
      <img src="./assets/Images/social-icons/instagram.png" alt="facebook" class="social-icons">
    </a>
    <a class="social-icons" href="https://twitter.com/?lang=en">
      <img src="./assets/Images/social-icons/twitter.png" alt="facebook" class="social-icons">
    </a>
    <a href="#quote-form">
      <span class="btn nav-btn-add">Add Quote</span>
    </a>
  </div>
</div>