<nav class="navbar navbar-expand-lg navbar-light bg-light nav-bar-main">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"     aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-bar-main" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://www.facebook.com/">
          <img src="./assets/Images/social-icons/facebook.png" alt="facebook" class="social-icons">
        </a>
        <a class="nav-item nav-link" href="https://www.instagram.com/?hl=en">
          <img src="./assets/Images/social-icons/instagram.png" alt="facebook" class="social-icons">
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/?lang=en">
          <img src="./assets/Images/social-icons/twitter.png" alt="facebook" class="social-icons">
        </a>
      </div>
    </div>
</nav>