.nav-bar-main{
    background-color: #06113C !important;
    list-style:none;
}

.navbar{
    padding: 0 !important;
}

.nav-item{
    padding: 1vh 2vh !important;
    background-color: #06113C !important;
    border: none;
}

.nav-btn-add{
    background-color: #FF8C32;
    font-weight: bolder;
    float: right;
    margin-right: 1vw;
}

.social-icons{
    height: 6vh;
    width: 4vw;
    padding: 0.5vh;
}