<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Popular Quotes -->
<div class="quote-display">
    <h1 class="main-heading">TechieQuotes</h1>
    <ul>
        <li *ngFor="let quote of quotes, let i = index">
            <p class="quote-show">
                <span><img src="./assets/Images/social-icons/double-quote-serif-left-xl.png" class="double-quote"></span>
                    {{quote.quote}}
                <span><img src="./assets/Images/social-icons/double-quote-serif-right-xl.png" class="double-quote"></span>
            </p>
            <p class="quote-author">Author, {{quote.author}}</p>
            <hr>
            <div class="row">
                <div class="col">
                    <img src="./assets/Images/social-icons/thumbs-up.png" class="quote-vote" id="upVote" (click)="upVoteQuote(i)"> 
                    <span class="quote-vote-value">{{quote.upVote}}</span>
                </div>
                <div class="col">
                    <img src="./assets/Images/social-icons/thumbs-down.png" class="quote-vote" id="downVote" (click)="downVoteQuote(i)">
                    <span class="quote-vote-value">{{quote.downVote}}</span>
                </div>
            </div>
            <p class="view-more" (click)='toggleDetails(i)'>View more</p>
            <div *ngIf='quote.showDescription'>
                <app-quote-detail [quote]="quote" (isComplete)='deleteQuote($event,i)'></app-quote-detail> 
            </div>
        </li>
    </ul>
</div>

<!-- Add Quote Form -->

<!-- Footer -->

