<!-- Navbar -->
<div id="home">
    <app-navbar></app-navbar>
</div>

<!-- Quotes Display -->
<div class="">
    <h1 class="main-heading">TechieQuotes</h1>
</div>
<div class="quote-display">
    <ul>
        <!-- Loop through the array of quotes -->
        <li *ngFor="let quote of quotes, let i = index">
            <!-- Check quote with the highest up votes i.e popular -->
            <div *ngIf="quote.upVote == highest; then popular else other"></div>
            <!-- Display popular quote -->
            <ng-template #popular>
                <p class="quote-show" appQuoteHighlight>
                    <span>
                        <img src="./assets/Images/social-icons/double-quote-serif-left-xl.png" class="double-quote">
                    </span>
                    {{quote.quote}}
                    <span>
                        <img src="./assets/Images/social-icons/double-quote-serif-right-xl.png" class="double-quote">
                    </span>
                </p>
                <p class="quote-author">Author, {{quote.author}}</p>
                <hr>
                <div class="row quote-vote-display">
                    <div class="col">
                        <img src="./assets/Images/social-icons/thumbs-up.png" class="quote-vote" id="upVote"
                            (click)="upVoteQuote(i)">
                        <span class="quote-vote-value">{{quote.upVote}}</span>
                    </div>
                    <div class="col">
                        <img src="./assets/Images/social-icons/thumbs-down.png" class="quote-vote" id="downVote"
                            (click)="downVoteQuote(i)">
                        <span class="quote-vote-value">{{quote.downVote}}</span>
                    </div>
                </div>
                <p class="view-more" (click)='toggleDetails(i)'>View more</p>
                <div *ngIf='quote.showDescription'>
                    <app-quote-detail [quote]="quote" (isComplete)='deleteQuote($event,i)'>
                    </app-quote-detail>
                </div>
            </ng-template>

            <!-- Display the rest of the quotes -->
            <ng-template #other>
                <p class="quote-show">
                    <span><img src="./assets/Images/social-icons/double-quote-serif-left-xl.png"
                            class="double-quote"></span>
                    {{quote.quote}}
                    <span><img src="./assets/Images/social-icons/double-quote-serif-right-xl.png"
                            class="double-quote"></span>
                </p>
                <p class="quote-author">Author, {{quote.author}}</p>
                <hr>
                <div class="row quote-vote-display">
                    <div class="col">
                        <img src="./assets/Images/social-icons/thumbs-up.png" class="quote-vote" id="upVote"
                            (click)="upVoteQuote(i)">
                        <span class="quote-vote-value">{{quote.upVote}}</span>
                    </div>
                    <div class="col">
                        <img src="./assets/Images/social-icons/thumbs-down.png" class="quote-vote" id="downVote"
                            (click)="downVoteQuote(i)">
                        <span class="quote-vote-value">{{quote.downVote}}</span>
                    </div>
                </div>
                <p class="view-more" (click)='toggleDetails(i)'>View more</p>
                <div *ngIf='quote.showDescription'>
                    <app-quote-detail [quote]="quote" (isComplete)='deleteQuote($event,i)'></app-quote-detail>
                </div>
            </ng-template>
        </li>
    </ul>
</div>

<!-- Add Quote Form -->
<div id="quote-form">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>

<!-- Footer -->
<div>
    <app-footer></app-footer>
</div>
