.main-heading{
    text-align: center;
    margin:2vh 0;
    font-family: 'Rubik Wet Paint', cursive;
    opacity: 0.8;
}

.quote-display{
    padding: 0;
}

.quote-vote{
    height: 3em;
    width: 3em;
}

.quote-vote-value{
    padding: 1px;
    font-size: larger;
    font-weight: bolder;
}

.quote-vote-display{
    width: 80%;
    margin: 0 auto;
}

.quote-author{
    font-weight: bolder;
}


.quote-show{
    font-family: 'Reenie Beanie';
    font-size: 2rem;
    line-height:90%;
    padding: 1vh 2vh;
  }


.view-more{
    text-align: center;
    text-decoration: underline;
    font-family: 'Hind', sans-serif;
    font-weight: bolder;
    margin-top: 1em;
}

.view-more:hover{
    font-size:120%;
}

.double-quote{
    height: 2vh;
    width: 2vw;
}

ul,li{
    list-style:none;
  }

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li{
    text-decoration:none;
    color:#06113C !important;
    background:#ffc !important;
    display:block;
    height:50%;
    width:30%;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
}

ul li{
    margin:1em;
}

ul li:nth-child(even){
    transform:rotate(4deg);
    position:relative;
    background:#cfc !important;
    top:5px;
}

ul li:nth-child(3n){
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf !important;
}

ul li:nth-child(5n){
    transform:rotate(5deg);
    position:relative;
    top:-10px;
}


.quote-display ul li:hover,.quote-display ul li:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.20);
    position:relative;
    z-index:5;
  }


/* Media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ul li{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ul li{
        width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ul li{
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ul li{
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ul li {
        width: 30%;
    }
}