<hr>
<div class="add-quote-form">
    <form action="">
        <div class="row">
            <div class="col-2"><label for="upLoadedBy">Name</label></div>
            <div class="col-10">
                <input type="text" class="form-control" id="upLoadedBy" placeholder="Enter your name">
            </div>
        </div>
        <div class="row">
            <div class="col-2"><label for="author">Author</label></div>
            <div class="col-10">
                <input type="text" class="form-control" id="author" placeholder="Author of the quote">
            </div>
        </div>
        <div class="row">
            <div class="col-2"><label for="quote">Quote</label></div>
            <div class="col-10">
                <textarea type="text" class="form-control" id="quote" placeholder="Enter a quote"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-check col">
                <input class="form-check-input" type="radio" name="inspire" id="inspire"
                    value="Inspire & Motivate">
                <label class="form-check-label" for="inspire">Inspire & Motivate</label>
            </div>
            <div class="form-check col">
                <input class="form-check-input" type="radio" name="humor" id="humor"
                    value="Humor Me">
                <label class="form-check-label" for="humor">Humor Me</label>
            </div>
        </div>
    </form>
</div>